<div class="col-xs-8 col-xs-offset-2">
  <table class="table table-hover table-responsive">
    <thead>
      <div class="center">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <h3>Vote on a suggestion:</h3>
          </div>
        </div>
      </div>
      <tr>
        <th>Restaurant</th>
        <%# <th>Suggested by</th> %>
        <th>Number of Votes</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <%= link_to "Suggest new", new_suggestion_path, class: "btn btn-large btn-info" %>
      <% @suggestions.sort { |a, b| b.votes_for.size <=> a.votes_for.size}.each do |s| %>
        <tr>
          <td><h4><%= link_to s.name, suggestion_path(s) %></h4></td>
          <%# <td><%= s.user_id %1></td> %>
          <td><%= s.votes_for.size %></td>
          <% if current_user.voted_for? s %>
            <td><%= link_to "Unvote", dislike_suggestion_path(s), method: :put, class: "btn btn-large btn-danger" %></td>
          <% else %>
            <td><%= link_to "Upvote", like_suggestion_path(s), method: :put, class: "btn btn-large btn-primary" %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
